<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <update id="update">
        update sky_take_out.dish
        <set>
            <if test="name != null and name != '' ">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null and image != '' ">image = #{image},</if>
            <if test="description != null and description != '' ">description = #{description},</if>
            <if test="status != null">status = #{status}</if>
        </set>
        where id = #{id};
    </update>
    <delete id="deleteByIds">
        delete from sky_take_out.dish
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="dish">
        select * from sky_take_out.dish
        <where>
            <if test="name != null and page != '' ">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="list" resultType="com.sky.entity.Dish">
        select * from sky_take_out.dish
        <where>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null and status == 1">
                and status = 1
            </if>
        </where>
        order by create_time desc
    </select>

    <!--useGeneratrdKeys = "true"获取插入数据后生成的主键值 keyProperty="id"插入赋值id变量-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sky_take_out.dish(name, category_id, price, image, description, status,create_time, update_time, create_user, update_user)
            values (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
</mapper>